version: '3'

services:
  mongo:
    image: mongo
    container_name: mongo-container
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: backend-container
    ports:
      - "5500:5500"
    environment:
      - MONGO_URI='mongodb+srv://sharmachirag760:mASG0mOWpl8C9GTc@cluster0.xv7mpig.mongodb.net/'
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: frontend-container
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mongo-data: